---
layout: default
title: Categories
---

<section class="categories">
  <h2>Posts by Category</h2>
  <ul class="category-list">
    {% assign categories_list = site.categories | sort %} {% for category in
    categories_list %}
    <li>
      <a href="/categories/{{ category[0] | slugify }}/">{{ category[0] }}</a>
      ({{ category[1].size }})
    </li>
    {% endfor %}
  </ul>

  {% for category in categories_list %}
  <h3 id="{{ category[0] }}">{{ category[0] }}</h3>
  <ul class="post-list">
    {% for post in category[1] %}
    <li>
      <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
      <p>{{ post.date | date: "%B %d, %Y" }}</p>
      <p>{{ post.excerpt }}</p>
    </li>
    {% endfor %}
  </ul>
  {% endfor %}
</section>
